<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- RemarkJS (for slide view) -->
  <script src='{{ "/js/jquery.slim.min.js" | relURL }}'></script>

  {{if .Params.css}}
    <link rel="stylesheet" type="text/css" href='{{ .Params.css |relURL}}'>
  {{else}}
    <link rel="stylesheet" type="text/css" href='{{"./css/remark.css"|relURL}}'>
      <!-- Bootstrap -->
      {{ partial "bootstrap.html" .}}
  {{end}}
  <script src='{{ "/js/remark-latest.min.js" | relURL }}'></script>

  <script src='{{ "/js/helper.js" | relURL }}'></script>
  <!-- font-awesome -->
  {{ partial "fontawesome.html" .}}

</head>

<body class="text-dark">
<div id="source">
{{ .RawContent }}
</div>

{{ if .Params.katex }}
{{ partial "katex.html" . }}
{{ end }}

<script>
  // parsing for remark option:
  // as config.toml package is case insensitive, therefore key in config.toml
  // will be dash-case, will convert to camalCase and pipe to remark option
  const option = {}
  const remarkOption = Object.assign({}, {{ .Site.Params.RemarkOption }}, {{ .Params.RemarkOption }})

  for (const key in remarkOption) {
    option[dashToCamelCase(key)] = remarkOption[key]
  }

  {{ if .Params.katex }}
  const slideshow = remark.create(option, renderMath)
  {{ else }}
  const slideshow = remark.create(option)
  {{ end }}
</script>

<!-- mermaid - graph generator -->
{{ partial "mermaid.html" . }}

<!-- press q to home -->
<script>
  document.onkeypress = ({which, keyCode} = window.event) => {
    const charCode = (typeof which === 'number') ? which : keyCode
    if (charCode === 113) {
      window.location.href = '/'
    }
  }

  document.getElementsByTagName('a').map(a => a.setAttribute('target', '_blank'))

  $('a:not(a:has(img))').prepend(
    '<i class="fas fa-link fa-xs"></i><span>&nbsp;</span>'
  )
</script>

</body>

</html>
