.remark-slide-content {
  font-size: x-large;
  padding: 1em 2.5em !important;
  font-weight: 300;
}

.larger {
  font-size: larger;
}

.smaller {
  font-size: smaller;
}

h1 {
  font-weight: bolder !important;
}

h2 {
  font-weight: unset !important;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

table,
th,
td {
  border-bottom: 1px solid silver;
  border-collapse: collapse
}

th,
td {
  padding: 0.8rem
}

thead th {
  font-weight: bold;
  font-size: 1.1em
}

tr td:not(:last-child),
tr th:not(:last-child) {
  border-right: 1px solid silver
}

.footnote {
  position: absolute;
  bottom: 2em;
  left: 8em;
  font-size: small;
}

.footnote li {
  list-style: decimal;
}

.overflow {
  overflow-y: scroll;
  height: 100%;
}

.blockquote-primary > blockquote {
  border-left-color: #007bff;
}

.blockquote-secondary > blockquote {
  border-left-color: #6c757d;
}

.blockquote-success > blockquote {
  border-left-color: #28a745;
}

.blockquote-info > blockquote {
  border-left-color: #17a2b8;
}

.blockquote-warning > blockquote {
  border-left-color: #ffc107;
}

.blockquote-danger > blockquote {
  border-left-color: #dc3545;
}

.blockquote-light > blockquote {
  border-left-color: #f8f9fa;
}

.blockquote-dark > blockquote {
  border-left-color: #343a40
}

blockquote {
  margin: 2rem 0 !important;
  border-left: 6px solid #6c757d;
  border-radius: 0.25rem;
  padding: 1em 0 1em 2em;
  margin: 1rem 0em;
  font-style: italic;
}

blockquote p {
  margin: 0;
}

.fit-content {
  width: fit-content;
}

.sidebar {
  border-radius: 0.25rem !important;
}

.sidebar li {
  font-size: x-large;
  color: #868e96;
}

.sidebar li:last-of-type {
  color: inherit;
  font-style: italic;
  font-weight: 600 !important;
}

.row {
  height: 100%;
}

.remark-code {
  border-radius: 0.25rem !important;
  font-size: smaller;
}

.remark-inline-code {
  padding: 0 !important;
}

a:link {
  color: inherit;
  font-weight: border;
  font-style: italic;
  text-decoration: underline;
}

a:visited,
a:active,
a:hover {
  color: inherit !important;
  text-decoration: underline; !important;
}

a:hover {
  font-weight: bolder !important;
}

.sup {
  vertical-align: super;
  font-size: small
}

/* To ensure all scroll bar will show up by default */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
