html {
  font-size: medium;
}

body {
  width: 100%;
  position: relative;
}

#TableOfContents {
  font-size: smaller;
  overflow-y: hidden;
  max-height: 95vh;
}

#TableOfContents .active {
  font-style: italic;
  font-weight: bold;
  border-left: 3px solid;
  border-radius: 1px;
  background-color: inherit !important;
}

h1, h2, h3 {
  padding-top: 1.5rem;
}

.ipa {
  padding: .2rem .4rem;
  background-color: #f8f9fa;
  border-radius: .25rem;
  letter-spacing: 1px;
}

blockquote {
  font-size: 1.1rem !important;
}

blockquote > p {
  margin: 0 auto;
}

blockquote > footer {
  margin-top: 1rem;
}
