html {
  font-size: large
}

body {
  width: 100%
}

.container {
  max-width: 50rem
}

h1, h2, h3 {
  padding-top: 1.5rem;
  font-weight: 550;
  /*margin: 1rem 0;*/
}

blockquote p {
  margin: 0.8rem;
}
