html {
  font-size: 1rem;
}

body {
  width: 100%;
}

.container {
  max-width: 60rem
}

nav {
  width: fit-content;
}

.natvigator .is-hidden {
  visibility: hidden;
}

.natvigator .is-visible {
  visibility: visible;
}

.content {
  min-height: 1200px; 
}