{{ define "main" }}
<h1 class="text-center display-4">{{ .Title }}</h1>
<hr>
<div class="mx-md-5 px-md-5">
    {{ partial "pagination.html" . }}
  <div>
    <div class="list-style list-group mx-auto w-75">
      {{ range $index, $el := (sort .Paginator.Pages ".Lastmod" "desc")}}
      <div
      id='list-{{$index}}'
      class="list-group-item list-group-item-light {{if eq $index 0}}active{{end}}">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">
          <a class="{{if eq $index 0}}text-light{{else}}text-muted{{end}}" href="{{ $el.Permalink | relURL }}">{{ $el.Title }}</a>
        </h6>
        <small>{{ dateFormat .Site.Params.dateFormat $el.Lastmod }}</small>
      </div>
      <div class='d-flex mb-0 justify-content-between'>
        <small>
          <a class="{{if eq $index 0}}text-light{{else}}text-muted{{end}}" href="{{ .Permalink | relURL }}">{{ $el.Permalink | relURL }}</a>
        </small>
      </div>
      {{ partial "tags.html" . }}
    </div>
    {{ end }}
  </div>
</div>
<script type="text/javascript">
  /* global $ Paginator */
  // change the correct class for the first item of the list which have class .active by default
  $('#list-0').find('.badge-info').toggleClass('badge-light badge-info')

  {{ with .Paginator }}
  // Paginator is already defined in head.html, and will be used in main.js
  Paginator = {
    hasNext: {{ .HasNext }},
    hasPrev: {{ .HasPrev }},
    nextPage: {{ if .HasNext}}"{{ .Next.URL }}"{{else}}null{{end}},
    prevPage: {{ if .HasPrev}}"{{ .Prev.URL }}"{{else}}null{{end}}
  }
  {{ end }}
</script>

{{ end }}
