{{ define "main" }}
<div class="text-center">  
  <h1 class="display-4">{{ .Title }}</h1>
  {{ range .Paginator.Pages }}
  <p class="lead">
    <a href="{{ .Permalink }}">
      <h2 class="mb-0">{{ .Title }}</h2>
    </a>
      {{ if .Params.subtitle }}
      <footer class="blockquote-footer">
        {{ .Params.subtitle }}
      </footer>
      {{ end }}
    <small>
      {{ range .Params.tags }}
      #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
    </small>
  </p>
  <hr> 
  {{ end }}

  <div class="row">
    <div class="col-6 offset-3">
      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          {{ if .Paginator.HasPrev }}
            <div class="float-md-left">
              <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr;</a>
            </div>
          {{ end }} 
          {{ if .Paginator.HasNext }}
            <div class="float-md-right">
              <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">&rarr;</a>
            </div>
          {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
