{{ define "main" }}
<h1 class="display-4 text-center">{{ .Title }}</h1>
<hr>
<div class="mx-auto text-justify w-100 px-5">
  <h3 class="text-muted">{{ .Params.subtitle }}</h3>
  <blockquote class="blockquote">
    <p class="mb-0">
      {{ .Params.discription }}
    </p>
    {{ if ne .Type "page" }}
    <footer class="blockquote-footer">{{ dateFormat .Site.Params.dateFormat .Date }}</footer>
    {{ end }}
  </blockquote>
  <p>{{ partial "tags.html" . }}</p>
  <div id="content">
    {{ .Content }}
  </div>
</div>
{{ if .Site.DisqusShortname }}
<hr>
<div class="disqus-comments mx-auto px-5">
  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
{{ if .Params.Katex }}{{ partial "katex.html" . }}{{ end }}
{{ end }}
