{{ define "main" }}
<h1 class="display-4 text-center">{{ .Title }}</h1>
<hr>
<div class="mx-auto">
  {{ with .Params.subtitle }}
  {{if .}}<h3 class="text-muted">{{ . }}</h3>{{end}}
  {{end}}
  {{ if ne .Type "page" }}
  <p class="text-muted font-weight-bold">Created on {{ dateFormat .Site.Params.dateFormat .Date }}</p>
  {{ end }}
  {{with .Params.description}}
  {{if . }}
  <p class="mb-0 font-italic lead">
    {{ . }}
  </p>
  {{end}}
  {{end}}
  <p>
    {{ partial "tags.html" . }}
  </p>
  <hr>
  <div id="content">
    {{ .Content }}
  </div>
</div>
{{ if .Site.DisqusShortname }}
<hr>
<div class="disqus-comments mx-auto px-5">
  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
{{ end }}
