{{ define "main" }}
<div class="mx-auto">
  <!-- title -->
  <h1 class="display-4 pb-0">{{ .Title }}</h1>
  {{ with .Params.subtitle }}

  <!-- subtitle -->
  {{if .}}<h2 class="text-muted pt-0">{{ . }}</h2>{{end}}
  {{end}}

  <!-- description -->
  {{with .Params.description}}
    {{if . }}
    <blockquote class="mb-0 font-italic lead">
      {{ . }}
    </blockquote>
    {{end}}
  {{end}}

  <!-- tags -->
  <p>
    {{ partial "tags.html" . }}
  </p>

  <!-- date created -->
  {{ if ne .Type "page" }}
  <small class="text-muted font-weight-bold">Created on {{ dateFormat .Site.Params.dateFormat .Date }}</small>
  {{ end }}

</div>
<hr>
<div class="mx-auto">
  <div id="content">
    {{ .Content }}
  </div>
</div>
{{ if .Site.DisqusShortname }}
<hr>
<div class="disqus-comments mx-auto px-5">
  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
{{ end }}
