<!-- mermaid.js should be placed in footer slideshow -->
{{ if .Params.mermaid }}
<script src='{{"/js/mermaid.min.js" | relURL}}'></script>
<script>
  /* global mermaid */

  // parsing option
  const config = {}

  const defaultConfig = {
    startOnLoad: false
  }

  const obj = Object.assign({}, defaultConfig, {{ .Site.Params.mermaidOption }}, {{ .Params.mermaidOption }})

  for (const key in obj) {
    config[dashToCamelCase(key)] = obj[key]
  }

  mermaid.initialize(config)

  {{if eq .Page.Type "slide" }}
    function initMermaid() {
      // only render mermaid diagram when the slide is loaded
      const graphs = $('.remark-visible').find('.mermaid')
      const haveGraphOnCurrentPage = (graphs.length !== 0)
      if (haveGraphOnCurrentPage) {
        mermaid.init(undefined, $(graphs))
      }
    }
    slideshow.on('afterShowSlide', initMermaid)

  {{else}}
    mermaid.init()
  {{end}}
</script>
{{ end }}
