<div class="mx-auto w-75">
  <div class="mx-md-5 px-md-5">
    <div class="input-group input-group-lg" id="search-area">
      <input
        type="text"
        class="form-control"
        placeholder="Search notes"
        aria-label="Search Notes"
        aria-describedby="basic-addon2"
        id="search-box">
    </div>
    <p>
      <small>
        <span class="pl-1 font-weight-bold font-italic">filters: </span>
        <span class="badge badge-secondary">title:</span>
        <span class="badge badge-secondary">tags:</span>
        <span class="badge badge-secondary">wildcards: *</span>
        <span class="badge badge-secondary">fuzzy match: ~n</span>
      </small>
    </p>
  </div>
</div>
<hr>
<div class="mx-md-5 px-md-5">
  <div id="search-result"></div>
</div>
<script src="/js/search.js"></script>
