<div class="mx-md-5 px-md-5">
  <div class="input-group input-group-lg" id="search-area">
    <input
      type="text"
      class="form-control"
      placeholder="Search notes"
      aria-label="Search Notes"
      aria-describedby="basic-addon2"
      id="search-box">
  </div>
  <p>
    <small>
      <span class="font-weight-bold">filters: </span>
      <span class="badge badge-warning" data-toggle="modal" data-target="#tipsModal">tips ...</span>
      <span class="badge badge-light">title:</span>
      <span class="badge badge-light">description:</span>
      <span class="badge badge-light">tags:</span>
      <span class="badge badge-light">content:</span>
      <span class="badge badge-light">*</span>
      <a class="badge badge-primary" href="https://lunrjs.com/guides/searching.html">learn more ...</a>
    </small>
  </p>
</div>
<hr>
<div class="mx-md-5 px-md-5">
  <div id="search-result"></div>
</div>
{{ partial "tips.html" . }}
<script src="/js/search.js"></script>
