{{ $codeid := index .Params 0 }}

<script>
  /* global $ */
  function show (nav, id) {
    $(`#${nav}-${id}`).show()
    $(`#${nav}-link-${id}`).addClass('active')
  }
  function hide (nav, id) {
    $(`#${nav}-${id}`).hide()
    $(`#${nav}-link-${id}`).removeClass('active')
  }

  function select (nav, id) {
    if (nav === 'score') {
      show('score', id)
      hide('code', id)
    } else if (nav === 'code') {
      show('code', id)
      hide('score', id)
    }
  }

</script>
<div class="card mb-5">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <button id='score-link-{{ $codeid }}' class="btn btn-link nav-link active" onclick="select('score', '{{ $codeid }}')">Score</button>
      </li>
      <li class="nav-item">
        <button id='code-link-{{ $codeid }}' class="btn btn-link nav-link" onclick="select('code', '{{ $codeid }}')">Code</button>
      </li>
    </ul>
  </div>

  <div class='card-img' id='score-{{ $codeid }}'>
  {{.Inner}}
  </div>

  <div class="card-body" id='code-{{ $codeid }}' style="display: none;">
    <div class="card-text">
      <pre>{{.Inner}}</pre>
    </div>
  </div>
</div>


<script>
  /* global ABCJS */
  ABCJS.renderAbc('score-{{$codeid}}', '{{.Inner}}', {}, {
    'responsive': 'resize',
    'add_classes': true
  }, {
    'oneSvgPerLine': true
  })
</script>
