{{ .Page.Scratch.Add "abcjsCount" 1 }}
{{ $id := .Page.Scratch.Get "abcjsCount" }}

<div class="card mb-5" id="abcjs-{{$id}}" data-children='.item-{{$id}}'>

  <div class="card-header">
    <ul class="nav card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-parent="#abcjs-{{$id}}" data-toggle="collapse" href="#abcjs-score-{{$id}}" aria-expanded="false" aria-controls="abcjs-score-{{$id}}">
          Score
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-parent="#abcjs-{{$id}}" data-toggle="collapse" href="#abcjs-code-{{$id}}" aria-expanded="false" aria-controls="abcjs-code={{$id}}">
          Code
        </a>
      </li>
    </ul>
  </div>

  <div class="item-{{$id}}">
    <div class="collapse show" id='abcjs-score-{{$id}}' role="tabpanel">
      <div class="px-md-5 d-block">
        <div id="abcjs-src-{{$id}}" class="card-img">
          {{.Inner}}
        </div>
      </div>
    </div>
  </div>

  <div class="item-{{$id}}">
    <div class="collapse" id="abcjs-code-{{$id}}" role="tabpanel">
      <div class="card-body">
        <pre>{{.Inner}}</pre>
      </div>
    </div>
  </div>

</div>

<script>
  /* global ABCJS */
  const config = {
    'responsive': 'resize',
    'add_classes': true
  }

  ABCJS.renderAbc('abcjs-src-{{$id}}', '{{.Inner}}', {}, config, {
  })
</script>
